.anchor {
    -fx-background-color: #282828;
    -fx-background-radius: 12px;
}

.title-bar {
    -fx-background-color: #000000;
    -fx-background-radius: 12px 12px 0 0;
}

.title-bar .button {
    -fx-background-color: transparent;
}

#title {
    -fx-font-family: "SF Pro Display", Serif;
    -fx-text-fill: #58595B;
    -fx-font-weight: 700;
}